<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Регистрация</title>
    <link href={{url_for('static', filename='css/bootstrap.min.css')}} rel="stylesheet">
    <link href={{url_for('static', filename='css/registration.css')}} rel="stylesheet">
</head>
<body>
    <form method='post' action={{ url_for('registration')}}>
    {{ form.hidden_tag() }}
    <div class="container">
          <h1>Вход в аккаунт</h1>
          {% if errors %}
            {% for error in errors %}
              <p>
                {{ error }}
              </p>
            {% endfor %}
          {% endif %}
          <hr>
          {{ form.first_name.label(class='form-label')}}
          {{ form.first_name(class='form-control', placeholder='Введите имя') }}

          {{ form.last_name.label(class='form-label')}}
          {{ form.last_name(class='form-control', placeholder='Введите фамилию') }}

          {{ form.email.label(class='form-label')}}
          {{ form.email(class='form-control', placeholder='Введите email') }}
          
          {{ form.username.label(class='form-label') }}          
          {{ form.username(class='form-control', placeholder='Введите логин') }}
          
          {{ form.password1.label(class='form-label') }}          
          {{ form.password1(class='form-control', placeholder='Введите пароль') }}
          
          {{ form.password2.label(class='form-label') }}          
          {{ form.password2(class='form-control', placeholder='Повторите пароль') }}
          
          <hr>
          <button type="submit" class="registerbtn">Войти</button>
        </div>
      
    <div class="container signin">
      <p>Есть аккаунта? <a href={{url_for('login')}}>Войти</a>.</p>
        <a href={{url_for('index')}}><p>Вернуться</p></a>
      </div>
  </form>
      
    <script src={{url_for('static', filename='js/bootstrap.bundle.min.js')}} ></script>
</body>
</html>